{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | All wishes
{% endblock %}

{% block body %}
    <h2>Liste des souhaits</h2>
    <ul>
    {% for wish in wishes %}
        <li>
            <a href="{{ path('wish_details', {'id': wish.id}) }}">{{ wish.title }}</a>
            <span class="badge text-bg-secondary">{{ wish.category.name }}</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
